.currencies {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 20px;


  & .filters {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0;

    & li {
      font-size: 12px;
      padding: 6px;
      cursor: pointer;
    }

    & .active {
      box-shadow: var(--shadow);
      color: var(--primary);
      font-weight: 600;
      border-radius: var(--radius-four);
    }
  }

  & .line {
    margin: 10px 0;
  }

}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  & .buttons {
    display: flex;
    column-gap: 10px;

    & button {
      background: transparent;
    }
  }

}

.currency-column {
  position: relative;
  transition: var(--transition);
  max-width: 295px;
  height: max-content;
  padding: 16px;
  flex: 1;
}

.currencies-hide {
  transition: var(--transition);
  min-width: 76px;
  max-width: 76px;
  flex: 2;



}