.details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;

  & .details-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
  }

  & .stylish-wrapper {
    overflow: hidden;
  }

}

.form-exchange {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & .button {
    width: 100%;
  }
}
