:root {
  --transparent: transparent;
  --radius-ten: 10px;
  --radius-eigh: 8px;
  --radius-four: 4px;
  --transition: all 0.4s ease-in-out;
  --light-green: #2cb5b9;
  --white: #ffffff;
  --black: #2a313c;
  --red: #EB5757;
  --blue: #2F80ED;
  --font-family: 'Gotham Pro', sans-serif;
}

//Light Theme
[data-theme="light"] {
  --gradient: linear-gradient(96.02deg, #00b047 0%, #4cd784 100%);
  --primary: #00b047;
  --secondary: #D9E1E8;
  --ternary: #7F848C;
  --quaternary: #363C46;
  --fifth: #C7D0D8;
  --sixth: #ffffff;
  --seventh: #E8EDF1;
  --test: rgba(255,255,255,.5);
  --shadow: inset 0 0 0 #FFFFFF, inset 0 0 0 rgba(136, 165, 191, 0.48), -4px -2px 8px #ffffff, 4px 2px 8px rgba(136, 165, 191, 0.54);
  --shadow-inset: inset -3px -3px 3px #FFFFFF, inset 3px 3px 3px rgba(136, 165, 191, 0.48), 0 0 0 #ffffff, 0 0 0 rgba(136, 165, 191, 0.54);

  --shadow-primary: inset 0 0 0 #16c85d, inset 0 0 0 #209e53, -4px -2px 8px #16c85d, 4px 2px 8px #209e53;
  --shadow-primary-inset: inset -3px -3px 3px #16c85d, inset 3px 3px 3px #209e53, 0 0 0 #16c85d, 0 0 0 #209e53;
}

//Dark Theme
[data-theme="dark"] {
  --gradient: linear-gradient(90.59deg, #00f9c9 0%, #1ee3bf 100%);
  --primary: #00f9c9;
  --secondary: #120a20;
  --ternary: #d9e1e8;
  --quaternary: #ffffff;
  --fifth: #170D2B;
  --sixth: #363C46;
  --seventh: #170D2B;
  --shadow: inset 0 0 0 #22173e, inset 0 0 0 4px 2px 8px #090513, -4px -2px 8px #22173e, 4px 2px 8px rgba(9, 5, 19, 0.54);
  --shadow-inset: inset -3px -3px 3px #22173e, inset 3px 3px 3px #090513, 0 0 0 #22173e, 0 0 0 rgba(9, 5, 19, 0.54);

  --shadow-primary: inset 0 0 0 #46fddb, inset 0 0 0 #34e2c1, -4px -2px 8px #46fddb, 4px 2px 8px #34e2c1;
  --shadow-primary-inset: inset -3px -3px 3px #46fddb, inset 3px 3px 3px #34e2c1, 0 0 0 #46fddb, 0 0 0 #34e2c1;
}
