<template>
  <div  class="lacks">
    <div class="lacks_box">
      <button class="close" @click="showLacks = !showLacks">
        <svg
          fill="none"
          height="13"
          viewBox="0 0 13 13"
          width="13"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M12.0206 0.707107C12.4111 1.09763 12.4111 1.7308 12.0206 2.12132L2.12109 12.0208C1.73056 12.4113 1.0974 12.4113 0.706875 12.0208C0.316351 11.6303 0.31635 10.9971 0.706875 10.6066L10.6064 0.707107C10.9969 0.316582 11.6301 0.316582 12.0206 0.707107Z"
            fill="#7F848C"
            fill-rule="evenodd"
          />
          <path
            clip-rule="evenodd"
            d="M0.707932 0.707107C1.09846 0.316582 1.73162 0.316582 2.12215 0.707107L12.0216 10.6066C12.4122 10.9971 12.4122 11.6303 12.0216 12.0208C11.6311 12.4113 10.998 12.4113 10.6074 12.0208L0.707932 2.12132C0.317408 1.7308 0.317408 1.09763 0.707932 0.707107Z"
            fill="#7F848C"
            fill-rule="evenodd"
          />
        </svg>
      </button>
      <p class="lacks_title text-copy-descr">{{ $t("lacks") }}</p>
      <p class="lacks_descr text-copy-descr">{{ $t("lacksTextOne") }}</p>
      <p class="lacks_descr text-copy-descr">{{ $t("lacksTextTwo") }}</p>
      <p class="lacks_descr text-copy-descr">{{ $t("lacksThankYou") }}</p>
      <form action class="post_reward_form">
        <input :name="csrfParam" :value="csrfToken" type="hidden" />
        <div class="post_reward_box">
          <label class="text-copy-descr" for>
            {{ $t("currency") }}
            <select
              class="select bg-background-main"
              name="ReserveNotification[currency_id]"
            >
              <option
                v-for="(currency) in allCurrencies"
                :key="currency.id"
              >
                {{ currency.name_ru }}
              </option>
            </select>
          </label>
          <label class="text-copy-descr" for="email">
            Email
            <div class="input_block shadow_btn_white_active">
              <input
                id="email"
                class="bg-background-main"
                name="ReserveNotification[email]"
                placeholder="example@mail.com"
                type="email"
              />
            </div>
          </label>
          <label class="text-copy-descr" for="price">
            {{ $t("amount") }}

            <div class="input_block shadow_btn_white_active">
              <input
                id="price"
                class="bg-background-main"
                name="ReserveNotification[amount]"
                placeholder="1000, 00"
                type="number"
              />
              <div class="help-block">Необходимо заполнить «Сумма».</div>
            </div>
          </label>
          <button
            class="green_btn text-copy-btngreen form_btn"
            type="submit"
          >
            {{ $t("request") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Lacks",
};
</script>

<style scoped>

</style>