<template>
  <div class="social-network">
    <a href="//www.youtube.com/channel/UCF9Id35NfuuZne1ao3qXbjw"  target="_blank">
      <img src="/source/images/social-network/youtube.svg" loading="lazy" alt="youtube" />
    </a>
    <a href="//t.me/seven_money" target="_blank">
      <img src="/source/images/social-network/tel.svg" loading="lazy" alt="telegram" />
    </a>
    <a href="//twitter.com/7moneyCo" target="_blank">
      <img src="/source/images/social-network/twit.svg" loading="lazy" alt="twitter" />
    </a>
    <a href="//www.instagram.com/7money.co/" target="_blank">
      <img src="/source/images/social-network/inst.svg" loading="lazy" alt="instagram" />
    </a>
    <a href="//vk.com/7money_obmenik" target="_blank">
      <img src="/source/images/social-network/vk.svg" loading="lazy" alt="vk" />
    </a>
    <a href="//ok.ru/group7money.c" target="_blank">
      <img src="/source/images/social-network/ok.svg" loading="lazy" alt="ok" />
    </a>
  </div>
</template>

<script>
export default {
  name: "TheSocialNetwork",
};
</script>
