<template>
  <svg  viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="menu">
    <path
      d="M17.4355 1.57812H6.5913C3.8343 1.57812 1.5918 3.82063 1.5918 6.57763V17.4219C1.5918 20.1789 3.8343 22.4214 6.5913 22.4214H17.4355C20.1925 22.4214 22.435 20.1789 22.435 17.4219V6.57837C22.435 3.82137 20.1925 1.57812 17.4355 1.57812ZM6.71205 19.0471C5.72055 19.0471 4.91355 18.2409 4.91355 17.2501C4.91355 16.2594 5.72055 15.4531 6.71205 15.4531C7.7028 15.4531 8.50905 16.2594 8.50905 17.2501C8.50905 18.2409 7.70355 19.0471 6.71205 19.0471ZM6.71205 13.7971C5.72055 13.7971 4.91355 12.9909 4.91355 12.0001C4.91355 11.0094 5.72055 10.2031 6.71205 10.2031C7.7028 10.2031 8.50905 11.0094 8.50905 12.0001C8.50905 12.9909 7.70355 13.7971 6.71205 13.7971ZM6.71205 8.54712C5.72055 8.54712 4.91355 7.74087 4.91355 6.75012C4.91355 5.75938 5.72055 4.95312 6.71205 4.95312C7.7028 4.95312 8.50905 5.75938 8.50905 6.75012C8.50905 7.74087 7.70355 8.54712 6.71205 8.54712ZM18.0978 18.6189H11.8548C11.1273 18.6189 10.5355 18.0091 10.5355 17.2599C10.5355 16.5106 11.1273 15.9016 11.8548 15.9016H18.0978C18.8133 15.9016 19.3945 16.5106 19.3945 17.2599C19.3945 18.0099 18.8133 18.6189 18.0978 18.6189ZM18.0978 13.3689H11.8548C11.1273 13.3689 10.5355 12.7591 10.5355 12.0099C10.5355 11.2606 11.1273 10.6516 11.8548 10.6516H18.0978C18.8133 10.6516 19.3945 11.2606 19.3945 12.0099C19.3945 12.7599 18.8133 13.3689 18.0978 13.3689ZM18.0978 8.11887H11.8548C11.1273 8.11887 10.5355 7.50912 10.5355 6.75987C10.5355 6.01062 11.1273 5.40163 11.8548 5.40163H18.0978C18.8133 5.40163 19.3945 6.01062 19.3945 6.75987C19.3945 7.50987 18.8133 8.11887 18.0978 8.11887Z"
      fill="currentColor"></path>
  </svg>
</template>

<script>
export default {
  name: "IconBurger",
};
</script>

