<template>
  <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="account">
    <path
      d="M21.791 1.97266H8.2357C4.78945 1.97266 1.98633 4.77578 1.98633 8.22203V21.7773C1.98633 25.2236 4.78945 28.0267 8.2357 28.0267H21.791C25.2373 28.0267 28.0404 25.2236 28.0404 21.7773V8.22297C28.0404 4.77672 25.2373 1.97266 21.791 1.97266ZM15.0138 6.22609C18.4741 6.22609 21.2904 9.04234 21.2904 12.5036C21.2904 15.9639 18.4741 18.7802 15.0138 18.7802C11.5535 18.7802 8.73727 15.9648 8.73727 12.5036C8.73633 9.04234 11.5526 6.22609 15.0138 6.22609ZM25.2279 21.7773C25.2279 23.672 23.6857 25.2142 21.791 25.2142H8.2357C6.34102 25.2142 4.79883 23.672 4.79883 21.7773V21.378C5.52914 19.6408 6.67851 18.093 8.17008 16.9155C9.6232 19.1617 12.1451 20.6542 15.0138 20.6542C17.8826 20.6542 20.4035 19.1617 21.8576 16.9164C23.3491 18.0939 24.4976 19.6417 25.2288 21.378V21.7773H25.2279Z"
      fill="currentColor"></path>
  </svg>
</template>

<script>
export default {
  name: "IconAccount",
};
</script>

<style scoped>

</style>